<div class="card cursor-pointer">
  <img src="/MG-HS-1.5T-GDiLuxury-0-8_orta.jpg" class="card-img-top" alt="..." />
  <div class="card-body">
    <h5 class="card-title mb-0 fw-bold">MG HS</h5>
    <p class="fs-17">1.5 T-GDI Luxury</p>
    <div class="row row-cols-2 row-cols-lg-4 g-2 mb-3">
      <div class="col">
        <span
          class="d-flex justify-content-center align-items-center bg-card-grey fs-14 fw-normal w-100"
          style="height: 37px"
        >
          2024
        </span>
      </div>

      <div class="col">
        <span
          class="d-flex justify-content-center align-items-center bg-card-grey fs-14 fw-normal w-100"
          style="height: 37px"
        >
          23.100 Km
        </span>
      </div>

      <div class="col">
        <span
          class="d-flex justify-content-center align-items-center bg-card-grey fs-14 fw-normal w-100"
          style="height: 37px"
        >
          Benzinli
        </span>
      </div>

      <div class="col">
        <span
          class="d-flex justify-content-center align-items-center bg-card-grey fs-14 fw-normal w-100"
          style="height: 37px"
        >
          Otomatik
        </span>
      </div>
    </div>
    <div class="row d-flex lh-sm">
      <div class="col-6">
        <p class="fs-18 text-muted">Suvmarket Basın Ekspress/ İstanbul</p>
      </div>
      <div class="col-6 text-end">
        <p class="fw-bold fs-20 mt-2">1.725.000 TRY</p>
      </div>
    </div>
    <a href="#" class="btn w-100 border">İNCELE</a>
  </div>
</div>
