.card{
        width: 25rem;
}
.btn{
    text-align: center;
    line-height: 40px;
    display: block;
    border: 1px solid #FF5100 !important;
    font-size: 18px;
    font-weight: bold;
    color: #FF5100;
    border-radius: 5px;
    bottom: 20px;
}
.btn:hover{
    color: #FF5100;
}
.bg-card-grey{
    background-color: #F4F4F4 !important;
}