<nav class="navbar navbar-expand-lg bg-white py-4">
  <div class="container">
    <!-- Logo -->
    <a class="navbar-brand me-lg-4 order-lg-1 order-md-1 order-sm-1 order-1 pb-0 mx-auto" routerLink="/">
      <img class="logo" style="width: 270px;" src="suvmarket-logo-main.svg"/>
    </a>

    <!-- Search -->
    <div class="position-relative order-lg-2 order-md-3 order-sm-3 order-3 w-100 mt-lg-0 mt-2">
      <input
        class="search-input rounded-pill"
        type="search"
        placeholder="Marka, Model arayın"
      />

      <button class="search-icon">
        <i class="bi bi-search fs-18"></i>
      </button>
    </div>

    <!-- Menu -->
    <div class="d-flex flex-column flex-sm-row gap-1 gap-sm-0 align-items-center order-lg-3 order-md-2 order-sm-2 order-2 mt-lg-0 mt-2 w-100">

  <!-- Al + Sat (her zaman yan yana) -->
  <div class="d-flex gap-1 gap-sm-0 w-100 ms-lg-3 w-lg-50">
    <button routerLink="/ikinci-el" class="btn-orange al fw-bold fs-18 w-100 w-lg-50">Al</button>
    <button routerLink="/aracimin-degerini-bul" class="btn-orange sat fw-bold fs-18 w-100 w-lg-50">Sat</button>
  </div>

  <a 
  href="https://blog.suvmarket.com/" 
  target="_blank"
  rel="noopener noreferrer"
  class="btn-dark-custom fw-bold fs-18 mt-1 mt-sm-0 d-inline-flex align-items-center justify-content-center text-decoration-none"
>
  Blog
</a>

 <div class="dropdown mt-1 mt-sm-0 ms-1 w-lg-50 w-100">
  <button class="btn-login fw-bold d-flex align-items-center justify-content-lg-between justify-content-center gap-3 dropdown-toggle w-100" 
          type="button" 
          id="loginDropdown" 
          data-bs-toggle="dropdown" 
          aria-expanded="false"
          data-bs-auto-close="outside">
          
    <div>
      <span class="fs-15 fw-semibold">Üye </span>
      <span class="fs-15 fw-semibold">Girişi</span>
    </div>
    <i class="bi bi-person-circle fs-4"></i>
  </button>

  <div class="dropdown-menu dropdown-menu-end p-0 border-0 custom-login-box" aria-labelledby="loginDropdown">
    <form [formGroup]="myForm" class="login-form-content py-4 px-4">
        <div class="mb-2 mt-4 position-relative">
          <i class="bi bi-person login-icon"></i>
          <input formControlName ="userName" type="text" class="form-control custom-input"  placeholder="Kullanıcı Adı ve E-Mail" [class.is-invalid]="userName?.invalid && userName?.touched">
        </div>
        <div class="mb-2 position-relative">
          <i class="bi bi-lock login-icon"></i>
          <input formControlName ="password" type="password" class="form-control custom-input" placeholder="Şifre"  [class.is-invalid]="password?.invalid && password?.touched">
        </div>
        <div class="text-center mb-2">
          <a routerLink="/sifremi-unuttum" onclick="bootstrap.Dropdown.getInstance(document.getElementById('loginDropdown'))?.hide()"  class="text-decoration-none fs-13 forget-passw">Şifremi Unuttum</a>
        </div>
        <div class="d-flex justify-content-center align-items-center">
        <button type="submit" (click)="onSubmit($event)" class="btn border-2 border-white w-80 text-white py-2 btn-giris fw-medium">Giriş</button>
        </div>
       <div class="d-block fw-semibold fs-13 validation-message-slot mt-2">
                @if(userName?.touched && userName?.errors?.['required']) {
                  <small class="fs-12 lh-16 fw-semibold text-white ">*Kullanıcı Adınız boş bırakılamaz.</small>
                }
                @if(userName?.touched && userName?.errors?.['minlength']) {
                  <small class="fs-12 lh-16 fw-semibold text-white">*Adınız en az {{ userName?.errors?.['minlength']?.requiredLength }} karakter olmalıdır.</small>
                }
        </div>
         <div class="d-block fw-semibold fs-13 validation-message-slot mt-2">
                @if(password?.touched && password?.errors?.['required']) {
                  <small class="fs-12 lh-16 fw-semibold text-white ">*Şifreniz boş bırakılamaz.</small>
                }
                @if(password?.touched && password?.errors?.['minlength']) {
                  <small class="fs-12 lh-16 fw-semibold text-white">*Şifreniz en az {{ password?.errors?.['minlength']?.requiredLength }} karakter olmalıdır.</small>
                }
        </div>
      </form>
      <a routerLink="/uye-ol" onclick="bootstrap.Dropdown.getInstance(document.getElementById('loginDropdown'))?.hide()"  class="btn-uye-ol d-flex justify-content-between align-items-center px-4 py-3 text-decoration-none fw-medium">
    <span>Üye Ol</span>
    <svg class="btn-uye-svg" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 640 640" width="20" height="20">
      <path d="M566.6 342.6C579.1 330.1 579.1 309.8 566.6 297.3L406.6 137.3C394.1 124.8 373.8 124.8 361.3 137.3C348.8 149.8 348.8 170.1 361.3 182.6L466.7 288L96 288C78.3 288 64 302.3 64 320C64 337.7 78.3 352 96 352L466.7 352L361.3 457.4C348.8 469.9 348.8 490.2 361.3 502.7C373.8 515.2 394.1 515.2 406.6 502.7L566.6 342.7z"/>
    </svg>
  </a>
  </div>
</div>

</div>
  </div>
</nav>
