.search-icon{
  position:absolute;
  right:10px;
  top:50%;
  transform:translateY(-50%);
  border:none;
  background-color: #f0f1f1;
  color:#777;
}
.search-input {
    display: block;
    width: 100%;
    height: 40px;
    min-width: auto;
    margin-bottom: 0px;
    border-style: solid;
    border-width: 1px;
    border-color: #e1e2e3;
    border-radius: 100px;
    background-color: #f0f1f1;
    font-family: 'Open Sans', sans-serif;
    color: #000;
    outline: none;
    padding-left: 1.25rem;
}
.search-input:hover{
   border-color: #e6491c;
}
.search-icon:hover{
    color: #e6491c;
}

.btn-orange{
  background:#ff5100;
  color:white;
  padding:8px 35px;
  border:none;
}
.al{
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    height: 50px;
    margin-right: 1px;
}
.btn-orange:hover{
    background: #5c5c70 !important;
}
.btn-orange:hover{
    background: #5c5c70 !important;
}
.sat{
     border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    height: 50px;
    margin-right: 4px;
}
.btn-orange:hover{
  background:#e6491c;
}
.btn-dark-custom{
  background:#5c5c70;
  color:white;
  padding:8px 18px;
  border-radius:5px;
    border:none;
    height: 50px;
    

}
.btn-login{
  background:white;
  border:1px solid #ddd;
  padding:8px 18px;
  border-radius:5px;
  height: 50px;
  white-space: nowrap; /* Metnin alt satıra geçmesini engeller */
}
.btn-login:hover{
  color:#ff5100 !important
}
 @media (max-width: 575.98px) {
    .logo{
      width: 100% !important;
    }
    .sat{
      margin-right: 0px;
    }
    .btn-login{
      width: 100% !important;
    }
    .btn-dark-custom{
      width: 100% !important;
    }
}
/* Dropdown'ın ok işaretini gizle */
.dropdown-toggle::after {
    display: none;
}

.custom-login-box {
    width: 280px;
    background-color: #FF5500; /* Görseldeki turuncu tonu */
    overflow: hidden;
}

.custom-input {
    padding-left: 40px;
    height: 45px;
    border-radius: 4px;
    border: none;
    outline: none !important;
}

.login-icon {
    position: absolute;
    left: 12px;
    top: 50%;
    transform: translateY(-50%);
    color: #666;
    z-index: 5;
}

.btn-uye-ol {
    background-color: #555870;
    color: white !important;
    font-weight: bold;
    transition: background 0.3s;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white !important;
}

.btn-uye-svg {
    transition: transform 0.3s;
}
.btn-uye-svg path {
  fill: #ffffff; /* istediğin renk kodunu buraya yaz */
}
.btn-uye-ol:hover{
    background-color: #43454f; /* hover’da biraz daha koyu ton */

}
/* Hover olunca SVG sağa kayacak */
.btn-uye-ol:hover .btn-uye-svg {
    transform: translateX(6px);
}
/* Bootstrap default boşluklarını temizleyelim */
.dropdown-menu {
    margin-top: 0px !important;
}

.btn-giris:hover{
  background-color: #e6491c !important;
}
.dropdown-menu {
  border-radius: 5px 0 5px 5px !important;
}
.forget-passw {
  color: #ffffff; /* normal durum */
  transition: color 0.3s;
}

.forget-passw:hover {
  color: rgba(255, 255, 255, 0.6) !important; /* hover’da soluk beyaz */
}