<nav class="navbar navbar-expand-lg bg-white py-4">
  <div class="container d-flex align-items-center">

    <!-- Logo -->
    <a class="navbar-brand me-4" href="#">
      <img src="suvmarket-logo-main.svg" height="50">
    </a>

    <!-- Search -->
    <div class="flex-grow-1 position-relative me-4 header">

      <input
        class="search-input rounded-pill pe-5"
        type="search"
        placeholder="Marka, Model arayın">

      <button class="search-icon">
        <i class="bi bi-search fs-18"></i>
      </button>

    </div>

    <!-- Menu -->
    <div class="d-flex align-items-center">

      <button class="btn-orange al fw-bold fs-18">
        Al
      </button>

      <button class="btn-orange sat fw-bold fs-18">
        Sat
      </button>

      <button class="btn-dark-custom fw-bold fs-18">
        Blog
      </button>

      <button class="btn-login ms-2 fw-bold d-flex align-items-center gap-1">
            <span class="fs-15 fw-semibold">Üye </span>
            <span class="fs-15 fw-semibold me-1">Girişi</span> 
            <i class="bi bi-person-circle"></i>
       </button>

    </div>

  </div>
</nav>