<nav class="navbar navbar-expand-lg bg-white py-4">
  <div class="container">
    <!-- Logo -->
    <a class="navbar-brand me-lg-4 order-lg-1 order-md-1 order-sm-1 order-1 pb-0 mx-auto" routerLink="/">
      <img class="logo" style="width: 270px;" src="suvmarket-logo-main.svg" height="50" />
    </a>

    <!-- Search -->
    <div class="flex-grow-1 position-relative me-lg-4 order-lg-2 order-md-3 order-sm-3 order-3 w-100 mt-lg-0 mt-2">
      <input
        class="search-input rounded-pill"
        type="search"
        placeholder="Marka, Model arayın"
      />

      <button class="search-icon">
        <i class="bi bi-search fs-18"></i>
      </button>
    </div>

    <!-- Menu -->
    <div class="d-flex flex-column flex-sm-row gap-1 gap-sm-0 align-items-center order-lg-3 order-md-2 order-sm-2 order-2 mt-lg-0 mt-2  w-100">

  <!-- Al + Sat (her zaman yan yana) -->
  <div class="d-flex gap-1 gap-sm-0 w-100">
    <button class="btn-orange al fw-bold fs-18 w-100 ">Al</button>
    <button class="btn-orange sat fw-bold fs-18 w-100">Sat</button>
  </div>

  <a 
  href="https://blog.suvmarket.com/" 
  target="_blank"
  rel="noopener noreferrer"
  class="btn-dark-custom fw-bold fs-18 mt-1 mt-sm-0 d-inline-flex align-items-center justify-content-center text-decoration-none"
>
  Blog
</a>

  <!-- Üye Girişi -->
  <button class="btn-login fw-bold d-flex align-items-center justify-content-between gap-3 mt-1 mt-sm-0 ms-1">
    <div>
      <span class="fs-15 fw-semibold">Üye </span>
    <span class="fs-15 fw-semibold">Girişi</span>
    </div>
    
    <i class="bi bi-person-circle"></i>
  </button>

</div>
  </div>
</nav>
