<div style="background-color: #f2f3f5" class="container-fluid pt-3">
  <div class="container">
    <h2 class="fs-13 cursor-pointer pt-2 ps-lg-1"> 2. El SUV İlanları > İkinci El Suzuki > Vitara > MILD HYBRID 1.4 129 GL ELEGANCE 4x2 AT ÇİFT RENK M > 35498</h2>
    <div class="row">
      <div class="col-lg-6 pe-xl-5 pe-3 order-lg-1 order-1">
        <div class="position-relative overflow-hidden cursor-pointer ornek">
           <swiper-container #mainSwiper>
    @for (img of carImages; track $index) {
      <swiper-slide >
        <img [src]="img" class="d-block w-100">
      </swiper-slide>
    }
  </swiper-container>

             <!-- Overlay -->
         <div class="overlay position-absolute top-0 start-0 w-100 h-100 
              d-flex align-items-center justify-content-center
              bg-dark bg-opacity-50 z-1">
    <i class="fa-solid fa-expand fa-2xl text-white"></i>
    <div class="text-white fw-semibold ps-2 fs-14">Fotoğrafı Büyüt</div>
  </div>
          <button class="carousel-control-prev z-2" type="button" (click)="prevSlide()">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>

          <button class="carousel-control-next z-2" type="button" (click)="nextSlide()">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>
      </div>

      <div class="col-lg-6 px-xl-5 pt-4 order-lg-2 order-3">
        <div class="row flex-column gap-3">
          <div>
            <h1 class="fw-bold fs-39 mb-0 text-center text-lg-start">Suzuki Vitara</h1>
            <h2 class="fw-bold fs-36 common-color-orange text-center text-lg-start">1.385.000 TL</h2>
            <h2 class="fw-bold fs-23 mb-lg-3 pt-1 text-center text-lg-start">1.4 GL+ AT 4X2 Çift Renk Otm</h2>
          </div>
          <h3 class="fs-18 fw-light text-muted text-center text-lg-start">36.972 KM | 2019 | Benzinli | Otomatik | SUV</h3>
          <h4 class="fw-light fs-18 common-color-orange text-center text-lg-start">İstanbul / Suvmarket Basın Ekspres</h4>
          <h5 class="fw-light text-muted fs-16 text-center text-lg-start">Plaka : 34 CVA 662</h5>
          
          <div class="d-flex justify-content-between w-lg-75 w-100 px-lg-0 pt-2 mb-4 text-center text-lg-start">
            <div class="d-flex gap-lg-2 gap-1 justify-content-center align-items-center">
              <svg class="cursor-pointer" xmlns="http://www.w3.org/2000/svg" height="30" width="30" viewBox="0 0 640 640"><path d="M448 256C501 256 544 213 544 160C544 107 501 64 448 64C395 64 352 107 352 160C352 165.4 352.5 170.8 353.3 176L223.6 248.1C206.7 233.1 184.4 224 160 224C107 224 64 267 64 320C64 373 107 416 160 416C184.4 416 206.6 406.9 223.6 391.9L353.3 464C352.4 469.2 352 474.5 352 480C352 533 395 576 448 576C501 576 544 533 544 480C544 427 501 384 448 384C423.6 384 401.4 393.1 384.4 408.1L254.7 336C255.6 330.8 256 325.5 256 320C256 314.5 255.5 309.2 254.7 304L384.4 231.9C401.3 246.9 423.6 256 448 256z"/></svg>
              <a class="text-decoration-none fs-15 text-dark" href="">Aracı paylaş</a>
            </div>
            <div class="d-flex gap-lg-2 gap-1 justify-content-center align-items-center">
              <svg class="cursor-pointer" xmlns="http://www.w3.org/2000/svg" height="30" width="30" viewBox="0 0 640 640"><path d="M192 64C156.7 64 128 92.7 128 128L128 544C128 555.5 134.2 566.2 144.2 571.8C154.2 577.4 166.5 577.3 176.4 571.4L320 485.3L463.5 571.4C473.4 577.3 485.7 577.5 495.7 571.8C505.7 566.1 512 555.5 512 544L512 128C512 92.7 483.3 64 448 64L192 64z"/></svg>
              <a class="text-decoration-none fs-14 text-dark" href="">Favorilere Ekle</a>
            </div>
            <div class="d-flex gap-lg-2 gap-1 justify-content-center align-items-center">
              <svg class="cursor-pointer" xmlns="http://www.w3.org/2000/svg" height="30" width="30" viewBox="0 0 640 640"><path d="M128 128C128 92.7 156.7 64 192 64L405.5 64C422.5 64 438.8 70.7 450.8 82.7L493.3 125.2C505.3 137.2 512 153.5 512 170.5L512 208L128 208L128 128zM64 320C64 284.7 92.7 256 128 256L512 256C547.3 256 576 284.7 576 320L576 416C576 433.7 561.7 448 544 448L512 448L512 512C512 547.3 483.3 576 448 576L192 576C156.7 576 128 547.3 128 512L128 448L96 448C78.3 448 64 433.7 64 416L64 320zM192 480L192 512L448 512L448 416L192 416L192 480zM520 336C520 322.7 509.3 312 496 312C482.7 312 472 322.7 472 336C472 349.3 482.7 360 496 360C509.3 360 520 349.3 520 336z"/></svg>
              <a class="text-decoration-none fs-14 text-dark" href="">Yazdır</a>
            </div>
          </div>

          <div class="row m-0 p-0 d-flex justify-content-between w-lg-80 w-100 gx-lg-1 gy-lg-0 gy-2 px-md-2">
            <div class="col-md-4"><button routerLink="/sizi-arayalim" class="btn-orange al fw-bold fs-15 w-100 p-0">SİZİ ARAYALIM</button></div>
            <div class="col-md-4"><button routerLink="/aracimi-takasa-vermek-istiyorum" class="btn-orange sat fw-bold fs-15 w-100">TAKAS</button></div>
            <div class="col-md-4"><button class="btn-dark-custom fw-bold fs-15 mt-1 mt-sm-0 w-100">SATIN AL</button></div>
          </div>
        </div>
      </div>

      <div class="col-12 mb-lg-5 order-lg-3 order-2 d-sm-block d-none">
        <div class="d-flex justify-content-center mt-xl-4">
          <div class="prev-tumb cursor-pointer p-3 px-4"></div>

          <div class="w-80 ">
            <swiper-container #mainSwiper (slidechange)="onSlideChange($event)" space-between="0">
  </swiper-container>

    <swiper-container #thumbSwiper space-between="10" >
        @for (img of carImages; track $index) {
          <swiper-slide>
            <img 
              [src]="img" 
              class="img-fluid thumbnail-img" 
              [class.active-thumb]="activeIndex === $index"
              (click)="setIndex($index)">
          </swiper-slide>
        }
      </swiper-container>
          </div>

          <div class="next-tumb cursor-pointer p-3 px-4"></div>
        </div>
      </div>
    </div>
  </div>
</div>
<nav style="background-color: #f2f3f5" class="navbar navbar-expand-lg bg-body-tertiary p-0 sticky-lg-top">
  <div class="container-fluid navs p-lg-2 pt-5">
    <div class="container-lg">
      <!-- tekrar px-0 kaldırdık -->

      <div class="d-flex align-items-center justify-content-between w-100">
        <!-- MOBILE HEADER -->
        <div class="d-lg-none w-100">
          <div class="d-flex align-items-center shadow-sm rounded overflow-hidden bg-white">
            <!-- TURUNCU -->
            <button
              class="navbar-toggler border-0 rounded-0 px-4 py-3"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#navbarTogglerDemo01"
              style="background: #ff5a00"
            >
              <span class="navbar-toggler-icon"></span>
            </button>

            <!-- YAZI -->
            <div class="px-3 py-2 fw-medium">Araç Özellikleri</div>
          </div>
        </div>
      </div>

      <!-- DESKTOP & COLLAPSE -->
      <div
        class="collapse navbar-collapse justify-content-center mt-lg-0 mt-3 "
        id="navbarTogglerDemo01"
      >
        <ul
        style="background-color: #ff5100"
        class="navbar-nav fw-bold cursor-pointer d-flex justify-content-center align-items-center gap-lg-5 "
      >
        <li class="nav-item">
          <a  id="link-teknik" class="nav-link text-white title py-3 " (click)="scrollTo('teknikSection')">TEKNİK VERİLER</a>
        </li>
        <div class="sticky-line d-lg-inline d-none"></div>
        <li class="nav-item">
          <a id="link-donanım" class="nav-link text-white title py-3" (click)="scrollTo('donanimSection')">DONANIMLAR</a>
        </li>
        <div class="sticky-line d-lg-block d-none"></div>
        <li class="nav-item">
          <a id="link-ekspertiz" class="nav-link text-white title py-3" (click)="scrollTo('ekspertizSection')">EKSPERTİZ BİLGİSİ</a>
        </li>
        <div class="sticky-line d-lg-block d-none"></div>
        <li class="nav-item">
          <a id="link-satici" class="nav-link text-white title py-3" (click)="scrollTo('saticiSection')">YETKİLİ SATICI</a>
        </li>
        <div class="sticky-line d-lg-block d-none"></div>
        <li class="nav-item">
          <a id="link-benzer" class="nav-link text-white title py-3" (click)="scrollTo('benzerSection')">BENZER OTOMOBİLLER</a>
        </li>
      </ul>
            </div>
    </div>
  </div>
</nav>
<div style="background-color: #f2f3f5" class="container-fluid">
  <div class="container">
    <h4 id="teknikSection" class="fw-bold pt-7 pb-3 text-lg-start text-center">TEKNİK VERİLER</h4>
      <div class="row m-0 p-0 bg-white teknik-veri">
        <div class="col-xl-3 col-lg-4 col-md-6 col-12 d-flex justify-content-between p-sm-4 px-sm-5 p-4 align-items-center">
          <div>
            <p class="fs-13 common-color-orange mb-0">MOTOR HACMİ / MOTOR GÜCÜ</p>
            <p class="fs-16">1.373 cc / 140 hp 104 kw</p>
          </div>
          <img
            style="width: 65px; height: 61px"
            src="https://www.suvmarket.com/Content/images/car-detail-icon-1.png"
            alt=""
          />
        </div>
        <div class="col-xl-3 col-lg-4 col-md-6 col-12 d-flex justify-content-between p-sm-4 px-sm-5 p-4 align-items-center">
          <div>
            <p class="fs-13 common-color-orange mb-0">ŞANZIMAN</p>
            <p class="fs-16">Otomatik</p>
          </div>
          <img
            style="width: 65px; height: 61px"
            src="https://www.suvmarket.com/Content/images/car-detail-icon-2.png"
            alt=""
          />
        </div>
        <div class="col-xl-3 col-lg-4 col-md-6 col-12 d-flex justify-content-between p-sm-4 px-sm-5 p-4 align-items-center ">
          <div>
            <p class="fs-13 common-color-orange mb-0">YAKIT TİPİ</p>
            <p class="fs-16">Benzinli</p>
          </div>
          <img
            style="width: 65px; height: 61px"
            src="https://www.suvmarket.com/Content/images/car-detail-icon-3.png"
            alt=""
          />
        </div>
        <div class="col-xl-3 col-lg-4 col-md-6 col-12 d-flex justify-content-between p-sm-4 px-sm-5 p-4 align-items-center ">
          <div>
            <p class="fs-13 common-color-orange mb-0">KM</p>
            <p class="fs-16">36.972 Km</p>
          </div>
          <img
            style="width: 65px; height: 61px"
            src="https://www.suvmarket.com/Content/images/car-detail-icon-4.png"
            alt=""
          />
        </div>
        <div class="col-xl-3 col-lg-4 col-md-6 col-12 d-flex justify-content-between p-sm-4 px-sm-5 p-4 align-items-center ">
          <div>
            <p class="fs-13 common-color-orange mb-0">MODEL YILI</p>
            <p class="fs-16">2019</p>
          </div>
          <img
            style="width: 65px; height: 61px"
            src="https://www.suvmarket.com/Content/images/car-detail-icon-5.png"
            alt=""
          />
        </div>
        <div class="col-xl-3 col-lg-4 col-md-6 col-12 d-flex justify-content-between p-sm-4 px-sm-5 p-4 align-items-center ">
          <div>
            <p class="fs-13 common-color-orange mb-0">ŞASİ NO</p>
            <p class="fs-16">TSMLYDA1S00******</p>
          </div>
          <img
            style="width: 65px; height: 61px"
            src="https://www.suvmarket.com/Content/images/car-detail-icon-6.png"
            alt=""
          />
        </div>
        <div class="col-xl-3 col-lg-4 col-md-6 col-12 d-flex justify-content-between p-sm-4 px-sm-5 p-4 align-items-center " >
          <div>
            <p class="fs-13 common-color-orange mb-0">RENK</p>
            <p class="fs-16">Sarı</p>
          </div>
          <img
            style="width: 65px; height: 61px"
            src="https://www.suvmarket.com/Content/images/car-detail-icon-7.png"
            alt=""
          />
        </div>
        <div class="col-xl-3 col-lg-4 col-md-6 col-12 d-flex justify-content-between p-sm-4 px-sm-5 p-4 align-items-center ">
          <div>
            <p class="fs-13 common-color-orange mb-0">MOTOR NO</p>
            <p class="fs-16">K14C1******</p>
          </div>
        </div>
        <div class="col-xl-3 col-lg-4 col-md-6 col-12 d-flex justify-content-between p-sm-4 px-sm-5 p-4 align-items-center ">
          <div>
            <p class="fs-13 common-color-orange mb-0">REHİN</p>
            <p class="fs-16">Yok</p>
          </div>
        </div>
        <div class="col-xl-3 col-lg-4 col-md-6 col-12 d-flex justify-content-between p-sm-4 px-sm-5 p-4 align-items-center ">
          <div>
            <p class="fs-13 common-color-orange mb-0">REHİN SORGU TARİHİ</p>
            <p class="fs-16">18.03.2026</p>
          </div>
        </div>
        <div class="col-xl-3 col-lg-4 col-md-6 col-12 d-flex justify-content-between p-sm-4 px-sm-5 p-4 align-items-center ">
          <div>
            <p class="fs-13 common-color-orange mb-0">HACİZ</p>
            <p class="fs-16">Yok</p>
          </div>
        </div>
        <div class="col-xl-3 col-lg-4 col-md-6 col-12 d-flex justify-content-between p-sm-4 px-sm-5 p-4 ">
          <div>
            <p class="fs-13 common-color-orange mb-0">HACİZ SORGU TARİHİ</p>
            <p class="fs-16">18.03.2026</p>
          </div>
        </div>
        <div class="col-xl-3 col-lg-4 col-md-6 col-12 d-flex justify-content-between p-sm-4 px-sm-5 p-4 align-items-center " >
          <div>
            <p class="fs-13 common-color-orange mb-0">YEDEK ANAHTAR</p>
            <p class="fs-16">Yok</p>
          </div>
        </div>
      </div>
  </div>
  <div class="container">
    <h4 id="donanimSection" style="border-bottom: 1px solid white" class="fw-bold pt-7 pb-3 text-lg-start text-center">
      DONANIMLAR
    </h4>
  </div>
  <div style="background-color: #f2f3f5" class="container-fluid">
    <div class="container">
      <h4 id="ekspertizSection" class="fw-bold pt-7 pb-3 text-lg-start text-center">EKSPERTİZ BİLGİLERİ</h4>

      <div class="row">
        <div class="col-lg-8 col-12">
          <div class="bg-white p-3 px-lg-5 mb-lg-4 mb-3">
            <div class="row d-flex flex-lg-row flex-column">
              <div class="col-lg-4 d-flex align-items-center">
                <p class="fs-13 common-color-orange mb-0 pe-4">TRAMER BİLGİSİ</p>
                <img
                  src="https://image2url.com/r2/default/images/1774247791751-0f92eb3f-a55a-4b5e-93ea-380d35246d55.png"
                  style="width: 63px; height: 63px"
                />
              </div>

              <div class="col-lg-8 d-flex justify-content-center flex-column">
                <p class="fs-15 mb-1">11.04.2024 - ERP ÇARPIŞMA 19.947 TL</p>
                <p class="fs-15 mb-1">29.05.2022 - PARK HALİNDE ÇARPILMA 17.726 TL</p>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-12">
          <a 
            href="https://www.suvmarket.com/sertifika/35470_34MZM369.pdf" 
            target="_blank" 
            class="text-decoration-none text-dark"
          >
            <div class="bg-white cursor-pointer">
              <div class="d-flex flex-sm-row flex-column align-items-center">
                <img style="height: 95px" src="/car-detail/tse-logo.png" alt="TSE Logo" />
                <p class="fs-15 mb-1 ms-sm-2 mt-2 mt-sm-0">
                  Onaylı Ekspertiz Raporu'nu indir.
                </p>
              </div>
            </div>
          </a>
        </div>

        <div class="col-12">
          <div class="bg-white mb-5 px-2 pb-3">
            <div class="row">
              <div class="col-lg-4 col-12 px-3">
                <div class="row">
                  <div style="height: 100px;" class="col-xl-3 col-lg-6 col-3 border-bottom border-end d-flex flex-column align-items-center justify-content-center">
                    <img
                      style="width: 28px; height: 28px"
                      src="/car-detail/expertise-icons/iyi.png"
                    />
                    <p class="fs-11 mt-2 mb-0">İyi</p>
                  </div>
                  <div style="height: 100px;" class="col-xl-3 col-lg-6 col-3 border-bottom border-end d-flex flex-column align-items-center justify-content-center">
                    <img
                      style="width: 28px; height: 28px"
                      src="/car-detail/expertise-icons/Boyali.png"
                    />
                    <p class="fs-11 mt-2 mb-0">Boyalı</p>
                  </div>
                  <div style="height: 100px;" class="col-xl-3 col-lg-6 col-3 border-bottom border-end d-flex flex-column align-items-center justify-content-center">
                    <img
                      style="width: 28px; height: 28px"
                      src="/car-detail/expertise-icons/degismis.png"
                    />
                    <p class="fs-11 mt-2 mb-0">Değişmiş</p>
                  </div>
                  <div style="height: 100px;" class="col-xl-3 col-lg-6 col-3 border-bottom border-end d-flex flex-column align-items-center justify-content-center">
                    <img
                      style="width: 28px; height: 28px"
                      src="/car-detail/expertise-icons/yarimboyali-.png"
                    />
                    <p class="fs-11 mt-2 mb-0">Lokal Boyalı</p>
                  </div>
                </div>

                <div class="row g-3 mt-3 ps-2">
                  <div
                    class="col-12 d-flex justify-content-between align-items-center border-bottom fs-6 fsfs"
                  >
                    <div>Tavan</div><div>İyi</div>
                  </div>
                  <div
                    class="col-12 d-flex justify-content-between align-items-center border-bottom fs-6 fsfs"
                  >
                    <span>Kaput</span><span>İyi</span>
                  </div>
                  <div
                    class="col-12 d-flex justify-content-between align-items-center border-bottom fs-6 fsfs"
                  >
                    <span>Sol Ön Çamurluk</span><span>Yarım Boyalı</span>
                  </div>
                  <div
                    class="col-12 d-flex justify-content-between align-items-center border-bottom fs-6 fsfs"
                  >
                    <span>Sağ Ön Çamurluk</span><span>İyi</span>
                  </div>
                  <div
                    class="col-12 d-flex justify-content-between align-items-center border-bottom fs-6 fsfs"
                  >
                    <span>Sol Ön Kapı</span><span>Boyalı</span>
                  </div>
                  <div
                    class="col-12 d-flex justify-content-between align-items-center border-bottom fs-6 fsfs"
                  >
                    <span>Sağ Ön Kapı</span><span>İyi</span>
                  </div>
                  <div
                    class="col-12 d-flex justify-content-between align-items-center border-bottom fs-6 fsfs"
                  >
                    <span>Sol Arka Kapı</span><span>İyi</span>
                  </div>
                  <div
                    class="col-12 d-flex justify-content-between align-items-center border-bottom fs-6 fsfs"
                  >
                    <span>Sağ Arka Kapı</span><span>İyi</span>
                  </div>
                  <div
                    class="col-12 d-flex justify-content-between align-items-center border-bottom fs-6 fsfs"
                  >
                    <span>Sol Arka Çamurluk</span><span>İyi</span>
                  </div>
                  <div
                    class="col-12 d-flex justify-content-between align-items-center border-bottom fs-6 fsfs"
                  >
                    <span>Sağ Arka Çamurluk</span><span>İyi</span>
                  </div>
                  <div
                    class="col-12 d-flex justify-content-between align-items-center border-bottom fs-6 fsfs"
                  >
                    <span>Bagaj</span><span>Değişen</span>
                  </div>
                  <div
                    class="col-12 d-flex justify-content-between align-items-center border-bottom fs-6 fsfs"
                  >
                    <span>Ön Tampon</span><span>İyi</span>
                  </div>
                  <div class="col-12 d-flex justify-content-between align-items-center mb-lg-0 mb-5">
                    <span>Arka Tampon</span><span>Boyalı</span>
                  </div>
                </div>
              </div>

              <div class="col-lg-8 col-12 d-flex justify-content-center align-items-center position-relative">
                <div class="position-relative">
                  <!-- Ana Resim -->
                  <img class="img-fluid w-100" src="/car-detail/expertises.png" alt="Araç Expertisesi" />

                  <!-- İkonlar (resim üzerinde) -->
                  <img
                    src="/car-detail/expertise-icons/iyi.png"
                    class="position-absolute"
                    style="top: 40%; left: 84%; width: 28px; height: 28px;"
                    alt="İyi"
                  />
                  <img
                    src="/car-detail/expertise-icons/iyi.png"
                    class="position-absolute"
                    style="top: 40%; left: 10%; width: 28px; height: 28px;"
                    alt="İyi"
                  />
                  <img
                    src="/car-detail/expertise-icons/iyi.png"
                    class="position-absolute"
                    style="top: 58%; left: 10%; width: 28px; height: 28px;"
                    alt="İyi"
                  />
                  <img
                    src="/car-detail/expertise-icons/iyi.png"
                    class="position-absolute"
                    style="top: 81%; left: 10%; width: 28px; height: 28px;"
                    alt="İyi"
                  />
                  <img
                    src="/car-detail/expertise-icons/iyi.png"
                    class="position-absolute"
                    style="top: 15%; left: 86%; width: 28px; height: 28px;"
                    alt="İyi"
                  />
                  <img
                    src="/car-detail/expertise-icons/iyi.png"
                    class="position-absolute"
                    style="top: 15%; left: 10%; width: 28px; height: 28px;"
                    alt="İyi"
                  />
                  <img
                    src="/car-detail/expertise-icons/iyi.png"
                    class="position-absolute"
                    style="top: 88%; left: 46%; width: 28px; height: 28px;"
                    alt="İyi"
                  />

                  <img
                    src="/car-detail/expertise-icons/Boyali.png"
                    class="position-absolute"
                    style="top: 15%; left: 47%; width: 28px; height: 28px;"
                    alt="Boyalı"
                  />



                  <img
                    src="/car-detail/expertise-icons/Boyali.png"
                    class="position-absolute"
                    style="top: 58%; left: 84%; width: 28px; height: 28px;"
                    alt="Boyalı"
                  />
                  <img
                    src="/car-detail/expertise-icons/Boyali.png"
                    class="position-absolute"
                    style="top: 81%; left: 84%; width: 28px; height: 28px;"
                    alt="Boyalı"
                  />
                  <img
                    src="/car-detail/expertise-icons/Boyali.png"
                    class="position-absolute"
                    style="top: 2%; left: 47%; width: 28px; height: 28px;"
                    alt="Boyalı"
                  />




                  <img
                    src="/car-detail/expertise-icons/degismis.png"
                    class="position-absolute"
                    style="top: 57%; left: 48%; width: 28px; height: 28px;"
                    alt="Değişmiş"
                  />

                  <img
                    src="/car-detail/expertise-icons/yarimboyali-.png"
                    class="position-absolute"
                    style="top: 95%; left: 46%; width: 28px; height: 28px;"
                    alt="Yarım Boyalı"
                  />
                </div>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="container">
      <h4 id="saticiSection" class="fw-bold pt-7 pb-3 text-lg-start text-center">YETKİLİ SATICI</h4>
      <div class="bg-white px-lg-5 py-lg-4 p-3">
        <div class="row gy-4 gy-lg-0 gx-lg-3">
          <div class="col-lg-6">
            <div class="ratio ratio-16x9 border rounded overflow-hidden mb-3">
              <iframe
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3009.6133469176375!2d28.813636776556555!3d41.03369651750275!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14caa45f4df27981%3A0x6b6d516709875080!2sSuvmarket%20Bas%C4%B1n%20Ekspres!5e0!3m2!1str!2str!4v1710000000000!5m2!1str!2str"
                style="border: 0"
                allowfullscreen=""
                loading="lazy"
                referrerpolicy="no-referrer-when-downgrade"
              >
              </iframe>
            </div>
            <h1 class="fs-15 fw-bold mb-2">Suvmarket Basın Ekspres</h1>
            <h2 class="fs-15 text-muted">Yetki Belge No: 3400197</h2>
            <h3 class="fs-15 mt-2">
              Halkalı Merkez Mahallesi, Basın Ekspres Yan Yol No.37 34303 Küçükçekmece / İstanbul
            </h3>
            <h4 class="fs-15 mt-2">Tel : <span class="fw-bold">0 (212) 693 28 19</span></h4>
          </div>

          <div class="col-lg-6">
            <div class="ratio ratio-16x9 border rounded overflow-hidden mb-3">
              <img
                class="img-fluid w-100 object-fit-cover"
                src="https://www.suvmarket.com/images/ikitelli-sube.jpg?v=2"
                alt="Şube Görseli"
              />
            </div>
            <h1 class="fs-15 fw-bold mb-2">İletişim Bilgileri</h1>
            <div class="d-flex gap-3 align-items-center mt-3">
              <img
                style="width: 18px; height: 18px"
                src="/car-detail/phone.svg"
                alt="Telefon İkonu"
              />
              <h2 class="fs-15 mb-0 fw-bold">444 24 94</h2>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="container pb-5">
            <h4 id="benzerSection" class="fw-bold pb-3 text-lg-start text-center py-5">BENZER ARAÇLAR</h4>

      <div class="row row-cols-lg-3 row-cols-sm-2 row-cols-1">
        <div class="col">
          <app-card type="car-list" [showLike]="false" [showShare]="false"></app-card>
        </div>
        <div class="col">
          <app-card type="car-list" [showLike]="false" [showShare]="false"></app-card>
        </div>
        <div class="col">
          <app-card type="car-list" [showLike]="false" [showShare]="false"></app-card>
        </div>
      </div>
    </div>
  </div>
</div>