<footer class="container-fluid footer pb-5">
  <div class="container">
    <div class="row d-flex">



      <div class="col-lg-8 flex-wrap col-12 d-flex align-items-center my-4">
        <img
          class="p-2 me-sm-2"
          style="width: 40px; height: 50px"
          src="/footer/facebook.svg"
          alt=""
        />
        <img
          class="p-2 me-sm-2"
          style="width: 40px; height: 50px"
          src="/footer/instagram-social-logotype.svg"
          alt=""
        />
        <img
          class="p-2 me-sm-3"
          style="width: 40px; height: 50px"
          src="/footer/youtube.svg"
          alt=""
        />
        <a class="me-4 text-decoration-none fs-18 text-white d-md-inline-block d-none" routerLink="/ikinci-el"
          >Al</a
        >
        <a class="me-4 text-decoration-none fs-18 text-white d-md-inline-block d-none" routerLink="/aracimin-degerini-bul"
          >Sat</a
        >
        <a class="me-4 text-decoration-none fs-18 text-white fs" routerLink="/suv-market">Neden Suvmarket?</a>
        <a class="me-4 text-decoration-none fs-18 text-white fs" routerLink="/iletisim">İletişim</a>
        <a class="text-decoration-none fs-18 text-white fs" routerLink="/subelerimiz">Şubelerimiz</a>
      </div>



      <div
        class="col-lg-4 col-12 d-flex align-items-center justify-content-lg-end justify-content-start my-lg-4 mb-4"
      >
        <img
          class="img-fluid me-4"
          style="width: 90px; height: 40px"
          src="/footer/dogan-trend-logo-footer.svg"
          alt=""
        />
        <img style="width: 40px; height: 40px" src="/footer/dogan.png" alt="" />
      </div>
    </div>
    <div class="row">
      <div
        class="col-lg-6 col-12 d-flex justify-content-lg-start justify-content-center align-items-center"
      >
        <div class="text-white text-center fs-12">
          <p>
            © Copyright 2022 suvmarket.com Her hakkı saklıdır. Site içeriği izinsiz kopyalanamaz
            veya <br />
            çoğaltılamaz.
          </p>
        </div>
      </div>
      <div
        class="col-lg-6 col-12 justify-content-lg-end justify-content-center d-flex flex-sm-row flex-column align-items-center gap-2"
      >
        <a 
          class="me-4 text-decoration-none fs-13 text-white" 
          routerLink="/kvkk" 
          fragment="kvkk1"
        >
          Yasal Uyarı
        </a>

        <a 
          class="me-4 text-decoration-none fs-13 text-white" 
          routerLink="/kvkk"
          fragment="kvkk2"
        >
          Çerez Politikası
        </a>

        <a 
          class="text-decoration-none fs-13 text-white" 
          routerLink="/kvkk"
          fragment="kvkk3"

        >
          Kişisel Verilerin Korunması
        </a>
      </div>
    </div>
  </div>
</footer>
