<app-header></app-header>
<main style="min-height: calc(100dvh - 296px);">
  <router-outlet></router-outlet>
</main>
  <!-- position absolute -->
  <div class="position-fixed bottom-0 end-0 p-3 d-flex flex-column gap-2" style="z-index: 1050">

  <a href="tel:+905551112233" target="_blank">
    <img
      src="/home-absolute-icons/phn-icon.png"
      class="img-fluid cursor-pointer"
      style="width: 70px; height: 70px"
    />
  </a>

  <a href="https://wa.me/905551112233" target="_blank">
    <img
      src="/home-absolute-icons/wp-icon.png"
      class="img-fluid cursor-pointer"
      style="width: 70px; height: 70px"
    />
  </a>
</div>
<app-footer></app-footer>