@import 'swiper/css';
@import 'swiper/css/effect-coverflow';
@import 'swiper/css/pagination';

.carousel-control-next-icon, .carousel-control-prev-icon {
    display: inline-block;
    width: 78px;
    height: 78px;
}
.carousel-control-next {
    right: 0;
    cursor: pointer;
}

.carousel-indicators [data-bs-target] {
  width: 10px;
  height: 10px;
  border-radius: 50%; /* nokta yapar */
  background-color: #fff;
  opacity: 0.5;
}

.carousel-indicators .active {
  opacity: 1;
}
.btn-orange{
  background:#ff5100;
  color:white;
  padding:5px 120px;
  border-radius: 5px;
  border: none !important;
  
  
}
.btn-orange-absolute:active{
  background:#ff5100;
  color:white;
  
}
/* no-hover class’lı selectler hover/focus efekti almaz */
select.no-hover:hover,
select.no-hover:focus {
  border-color: #ccc !important; /* default border */
  box-shadow: none !important;   /* hiç yanmasın */
  color: #333 !important;        /* yazı normal kalsın */
  outline: none !important;
}

.btn-orange-absolute{
   background:#ff5100;
  color:white;
   border-radius: 5px;
  border: none !important;
    white-space: nowrap; 

}
select,
select:focus,
select:focus-visible {
  outline: none !important;
  box-shadow: none !important;
}
.binek-araclar-btn{
  background-color: #5c5c70;
  border-radius: 5px;
    white-space: nowrap; 

}
.binek-araclar-btn:active{
  background-color: #5c5c70;
  border-radius: 5px;
}
.btn{
  outline: none;
  border: none;
}
@media (max-width: 1200px) {
  #search-form{
    position: static !important;
    transform: none !important;
    left: auto !important;     
  }
}




.bg {
  background-image: url('/popular-search-back.png');
  background-size: cover;         
  background-repeat: no-repeat;
  background-position: center center ;    
  padding-bottom: 50px;              
}



@media (max-width: 576px) {
    .bg{
        background-image: none;
    }
}
.row li {
  margin-bottom: 15px; /* Alt boşluk verir */
}


.mySwiper {
  width: 100%;
  height: 400px; // İstersen boyutu değiştir
}

.mySwiper .swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
}

.mySwiper video {
  max-width: 100%;
  max-height: 100%;
  border-radius: 8px;
}
