.active{
    background-color: #FF5100;
}
.borderbot{
        border-bottom: 3px solid #ff5100;
}
.background{
    background-color: #b8bcc0;
}
.layout{
 width: 110px;
    height: 50px;
}
.container-fluid{
  min-height: calc(100dvh - 296px);
}