<div style="background-color: #f2f3f5;height: calc(100vh - 300px) " class="container-fluid p-sm-5 py-5">
  <div class="container bg-white p-sm-5 p-3 border-dark">
    <ul class="nav nav-tabs justify-content-lg-start justify-content-center mx-2">
      <li class="nav-item">
        <h2
          style="border: 1px solid #f0f1f2 !important; border-bottom: none !important"
          class="nav-link active fw-bold fs-19 common-color-orange cursor-pointer p-3 px-4"
        >
          Şifremi Unuttum
        </h2>
      </li>
    </ul>

    <div class="p-lg-5 p-4" style="border: 1px solid #f0f1f2; border-radius: 6px">
      <div class="row">
        <!-- SOL: FORM -->
        <div class="col-12 col-lg-8 ">
          <form [formGroup]="myForm"(click)="onSubmit()">
            <div class="row">
              <div class="col-md-6 col-12 d-flex flex-column">
                <input
                  type="email"
                  class="form-control"
                  placeholder="E-Posta Adresiniz*"
                  formControlName="email"
                  [class.is-invalid]="myForm.get('email')?.invalid && myForm.get('email')?.touched"
                />
                <div class="validation-message-slot mt-1 ms-1 text-danger fw-semibold fs-13">
                  @if (myForm.get('email')?.errors?.['required'] && myForm.get('email')?.touched)
                  {
                    <span>E-Posta adresi zorunludur</span>

                  }
                  @if (myForm.get('email')?.errors?.['email'] && myForm.get('email')?.touched)
                  {
                    <span>Geçerli bir e-posta adresi giriniz</span>

                  }
                </div>
              </div>
              <div class="col-md-6 col-12 d-flex align-items-start justify-content-md-start justify-content-center">
                <button type="submit" class="btn btn-primary px-5 py-2 fw-bold submit mt-md-1 mt-3">
                  GÖNDER
                </button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
